<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rent&Gain Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/1571ce0189.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/main_page_style.css}">
</head>

<body>
<header>
    <div class="top-bar">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-bars"></i> Menu
        </button>
        <h1>
            <span th:if="${loggedInUser}" th:text="${'Witaj, ' + loggedInUser.firstName + ' ' + loggedInUser.lastName + '!'}"></span>
        </h1>
        <div class="auth-buttons">
            <span th:if="${loggedInUser}">
                <button type="button" class="btn btn-secondary logout-button" onclick="logout()">Wyloguj się</button>
            </span>
            <span th:unless="${loggedInUser}">
                <button type="button" class="btn btn-secondary login-button" onclick="redirectToLogin()">Zaloguj</button>
                <span class="spacing"></span>
                <button type="button" class="btn btn-secondary register-button" onclick="redirectToRegister()">Rejestracja</button>
            </span>
        </div>
    </div>
</header>

<div class="toolbar-menu">
    <div class="toolbar">
        <div class="toolbar-top"></div>
    </div>

    <nav class="side-menu">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-times"></i> Zamknij
        </button>
        <a href="/main_page">Strona główna</a>
        <span th:if="${role eq 'Wynajmujacy' or role eq 'Najemca'}">
            <a href="/user_panel">Panel użytkownika</a>
        </span>
        <span th:if="${role eq 'Wynajmujacy'}">
            <a href="/taxes_page">Podatki</a>
        </span>
        <span th:if="${role eq 'Wynajmujacy'}">
            <a href="/suggestions_and_analyses">Sugestie i analizy</a>
        </span>
        <a href="/contact_us">Kontakt</a>
        <span th:if="${role eq 'Administrator'}">
            <a href="/admin_panel">Panel administratora</a>
        </span>
    </nav>
</div>

<div class="description">
    <div class="content">
        <h1>Witaj w Rent&Gain Manager!</h1>
        <h2>Aplikacja wspomagająca zarządzanie wynajmem użytkowym</h2>
        <section>
            <h3>Główne funkcje aplikacji:</h3>
            <ol>
                <li><i class="fa-solid fa-check"></i> Łatwe zarządzanie nieruchomościami</li>
                <li><i class="fa-solid fa-check"></i> Gromadzenie czynszu najmu i rozliczeń opłat za media w poszczególnych miesiącach</li>
                <li><i class="fa-solid fa-check"></i> Rozliczanie finansowe (faktury, podatek VAT, podatek dochodowy)</li>
                <li><i class="fa-solid fa-check"></i> Analiza wyników przychodu</li>
                <li><i class="fa-solid fa-check"></i> Sugestia optymalizacji zysku wynajmu lokali na podstawie zgromadzonych wyników</li>
                <li><i class="fa-solid fa-check"></i> Sugestia dobierania najemców</li>
                <li><i class="fa-solid fa-check"></i> Analiza ryzyka najmu</li>
                <li><i class="fa-solid fa-check"></i> Bezpieczeństwo i dostępność</li>
            </ol>
            <p>Rozpocznij korzystanie z naszej aplikacji już dziś i zobacz, jak możesz usprawnić swoje procesy zarządzania nieruchomościami!</p>
        </section>
    </div>
    <div class="image">
        <img th:src="@{/images/main_page_image.jpg}" alt="Zdjęcie" />
    </div>
</div>

<script>
    function toggleMenu() {
        var sideMenu = document.querySelector('.side-menu');
        sideMenu.classList.toggle('open');
    }

    function redirectToLogin() {
        window.location.href = "/login";
    }

    function redirectToRegister() {
        window.location.href = "/register";
    }

    function logout() {
        // W tym miejscu możesz wykonać operacje związane z wylogowywaniem,
        // np. zakończenie sesji, usuwanie atrybutu 'loggedInUser' itp.

        // Następnie przekieruj użytkownika na stronę wylogowania
        window.location.href = "/logout";  // Zakładając, że masz endpoint '/logout' do obsługi wylogowywania
    }

</script>


</body>
</html>