<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rental Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/1571ce0189.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/suggestions_and_analyses_page_style.css}">
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
<header>
    <div class="top-bar">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-bars"></i> Menu
        </button>
        <h1>
            <span th:if="${loggedInUser}" th:text="${'Witaj, ' + loggedInUser.firstName + ' ' + loggedInUser.lastName + '!'}"></span>
        </h1>
        <div class="auth-buttons">
            <span th:if="${loggedInUser}">
                <button type="button" class="btn btn-secondary logout-button" onclick="logout()">Wyloguj się</button>
            </span>
            <span th:unless="${loggedInUser}">
                <button type="button" class="btn btn-secondary login-button" onclick="redirectToLogin()">Zaloguj</button>
                <span class="spacing"></span>
                <button type="button" class="btn btn-secondary register-button" onclick="redirectToRegister()">Rejestracja</button>
            </span>
        </div>
    </div>
</header>

<div class="toolbar-menu">
    <div class="toolbar">
        <div class="toolbar-top"></div>
    </div>

    <nav class="side-menu">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-times"></i> Zamknij
        </button>
        <a href="/main_page">Strona główna</a>
        <span th:if="${loggedInUser}">
            <a href="/user_panel">Panel użytkownika</a>
        </span>
        <span th:if="${role eq 'Wynajmujacy'}">
            <a href="/taxes_page">Podatki</a>
        </span>
        <span th:if="${role eq 'Wynajmujacy'}">
            <a href="/suggestions_and_analyses">Sugestie i analizy</a>
        </span>
        <a href="/contact_us">Kontakt</a>
        <span th:if="${role eq 'Administrator'}">
        <a href="/admin_panel">Panel administratora</a>
        </span>
    </nav>
</div>

<div class="container">
    <h3 class = "hCenter">Wszystkie przychody z nieruchomości</h3>
    <div id="charts-container">
        <!-- Kontener dla wykresu -->
        <div id="chart" th:data-property-data-json="${propertyDataJson}"></div>
        <div th:if="${jsonError}" class="alert alert-danger" role="alert">
            [[${jsonError}]]
        </div>
    </div>
</div>
<!--<div class="container">-->
<!--    <h3 class="hCenter">Roczne przychody z nieruchomości</h3>-->
<!--    <div class="year-selection">-->
<!--        <label for="yearSelect">Wybierz rok:</label>-->
<!--        <select id="yearSelect">-->
<!--        </select>-->
<!--    </div>-->
<!--    <div id="annualChart" th:data-annual-incomes-json="${annualIncomesJson}"></div>-->
<!--</div>-->
<div class="container">
    <h3 class="hCenter">Roczne przychody z nieruchomości</h3>
    <div class="year-selection">
        <label for="yearSelect">Wybierz rok:</label>
        <select id="yearSelect"></select>
    </div>
    <div id="annualChart" th:data-annual-incomes-json="${annualIncomesJson}"></div>
</div>

<div class="container" id="lastRentInfo" th:data-last-rent-infos-json="${lastRentInfosJson}">
    <h3 class="hCenter">Optymalizacja zysku</h3>
    <h4>Podwyższenie czynszu za wynajem</h4>
    <p>Do końca roku za pozostałe miesiące przychód będzie wynosił:</p>
    <p id="incomeWithoutIncrease">bez podwyżki czynszu: </p>
    <p id="incomeWithIncrease">z podwyżką czynszu: </p>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        console.log("DOM fully loaded and parsed");

        var lastRentInfoElement = document.getElementById("lastRentInfo");
        var incomeWithoutIncreaseElement = document.getElementById("incomeWithoutIncrease");
        var incomeWithIncreaseElement = document.getElementById("incomeWithIncrease");

        if (lastRentInfoElement) {
            console.log("Found last rent info element");

            try {
                var lastRentInfoJson = lastRentInfoElement.dataset.lastRentInfosJson;
                console.log("Last rent info JSON:", lastRentInfoJson);

                var lastRentInfo = JSON.parse(lastRentInfoJson);
                console.log("Parsed last rent info:", lastRentInfo);

                var incomeWithoutIncrease = Object.values(lastRentInfo).reduce(function(acc, rentPayment) {
                    return acc + rentPayment.paymentAmount;
                }, 0);
                console.log("Income without increase:", incomeWithoutIncrease);

                var incomeWithIncrease = Object.values(lastRentInfo).reduce(function(acc, rentPayment) {
                    return acc + rentPayment.paymentAmount * 1.1; // 10% increase
                }, 0);
                console.log("Income with increase:", incomeWithIncrease);

                incomeWithoutIncreaseElement.textContent += incomeWithoutIncrease.toFixed(2);
                incomeWithIncreaseElement.textContent += incomeWithIncrease.toFixed(2);
            } catch (e) {
                console.error("Error processing last rent info JSON:", e);
            }
        }
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Pierwszy wykres
        var chartElement = document.querySelector("#chart");
        var propertyDataJson = chartElement.dataset.propertyDataJson;

        if (propertyDataJson) {
            try {
                var propertyData = JSON.parse(propertyDataJson);

                // Przygotuj dane do wykresu
                var propertyNames = [];
                var propertyIncomesData = [];

                propertyData.forEach(function(property) {
                    propertyNames.push(property.address);
                    propertyIncomesData.push(property.income);
                });

                // Definicja opcji dla wykresu
                var options = {
                    series: [{
                        name: 'Przychody z nieruchomości',
                        data: propertyIncomesData
                    }],
                    chart: {
                        type: 'bar',
                        height: 350
                    },
                    xaxis: {
                        categories: propertyNames,
                        labels: {
                            rotate: -45,
                            style: {
                                colors: [],
                                fontSize: '12px',
                                fontFamily: 'Helvetica, Arial, sans-serif',
                                fontWeight: 400,
                            }
                        },
                        title: {
                            text: 'Nieruchomości',
                            style: {
                                fontSize: '14px',
                                fontWeight: 'bold',
                                fontFamily: 'Helvetica, Arial, sans-serif',
                                color: '#263238'
                            }
                        }
                    },
                    yaxis: {
                        title: {
                            text: 'Przychody (PLN)',
                            style: {
                                fontSize: '14px',
                                fontWeight: 'bold',
                                fontFamily: 'Helvetica, Arial, sans-serif',
                                color: '#263238'
                            }
                        }
                    },
                    tooltip: {
                        y: {
                            formatter: function (val) {
                                return val + " PLN";
                            }
                        }
                    },
                    title: {
                        text: `Łączny przychód z wynajmu od momentu posiadania nieruchomości`,
                        align: 'center',
                        style: {
                            fontSize: '20px',
                            fontWeight: 'bold',
                            fontFamily: 'Helvetica, Arial, sans-serif',
                            color: '#263238'
                        }
                    }
                };

                // Renderowanie wykresu
                var chart = new ApexCharts(chartElement, options);
                chart.render();
            } catch (e) {
                console.error("Error parsing property data JSON:", e);
            }
        } else {
            console.error("Property data JSON is undefined");
        }

        // Drugi wykres - wybór roku
        var annualChartElement = document.querySelector("#annualChart");
        var annualIncomesJson = annualChartElement.getAttribute("data-annual-incomes-json");
        console.log("Annual incomes JSON:", annualIncomesJson);

        var yearSelect = document.getElementById("yearSelect");

        if (annualIncomesJson) {
            try {
                var annualIncomes = JSON.parse(annualIncomesJson);
                console.log("Parsed annual incomes:", annualIncomes);

                // Zbierz wszystkie dostępne lata z danych
                var availableYears = new Set();
                Object.values(annualIncomes).forEach(incomesPerProperty => {
                    Object.keys(incomesPerProperty).forEach(year => {
                        availableYears.add(year);
                    });
                });

                availableYears = Array.from(availableYears).sort();
                console.log("Available years:", availableYears);

                availableYears.forEach(year => {
                    var option = document.createElement("option");
                    option.value = year;
                    option.textContent = year;
                    yearSelect.appendChild(option);
                });

                var annualChart; // Zmienna przechowująca instancję wykresu

                function renderAnnualChart(year) {
                    var propertyNames = [];
                    var annualIncomesData = [];

                    Object.keys(annualIncomes).forEach(propertyAddress => {
                        var incomeForYear = annualIncomes[propertyAddress][year] || 0;
                        propertyNames.push(propertyAddress);
                        annualIncomesData.push(incomeForYear);
                    });

                    var annualOptions = {
                        series: [{
                            name: `Przychody za ${year}`,
                            data: annualIncomesData
                        }],
                        chart: {
                            type: 'bar',
                            height: 350,
                            animations: {
                                enabled: true,
                                easing: 'easeinout',
                                speed: 800,
                                animateGradually: {
                                    enabled: true,
                                    delay: 150
                                },
                                dynamicAnimation: {
                                    enabled: true,
                                    speed: 350
                                }
                            }
                        },
                        colors: ['#59c1ff'],
                        plotOptions: {
                            bar: {
                                borderRadius: 4,
                                horizontal: false,
                            },
                        },
                        dataLabels: {
                            enabled: false
                        },
                        xaxis: {
                            categories: propertyNames,
                            labels: {
                                rotate: -45,
                                style: {
                                    colors: [],
                                    fontSize: '12px',
                                    fontFamily: 'Helvetica, Arial, sans-serif',
                                    fontWeight: 400,
                                }
                            },
                            title: {
                                text: 'Nieruchomości',
                                style: {
                                    fontSize: '14px',
                                    fontWeight: 'bold',
                                    fontFamily: 'Helvetica, Arial, sans-serif',
                                    color: '#263238'
                                }
                            }
                        },
                        yaxis: {
                            title: {
                                text: 'Przychody (PLN)',
                                style: {
                                    fontSize: '14px',
                                    fontWeight: 'bold',
                                    fontFamily: 'Helvetica, Arial, sans-serif',
                                    color: '#263238'
                                }
                            }
                        },
                        title: {
                            text: `Przychody za ${year}`,
                            align: 'center',
                            style: {
                                fontSize: '20px',
                                fontWeight: 'bold',
                                fontFamily: 'Helvetica, Arial, sans-serif',
                                color: '#263238'
                            }
                        },
                        tooltip: {
                            y: {
                                formatter: function (val) {
                                    return val + " PLN";
                                }
                            }
                        },
                        theme: {
                            mode: 'light',
                            palette: 'palette1',
                            monochrome: {
                                enabled: false,
                                color: '#008FFB',
                                shadeTo: 'light',
                                shadeIntensity: 0.65
                            },
                        }
                    };

                    if (annualChart) {
                        annualChart.destroy(); // Zniszcz stary wykres, jeśli istnieje
                    }

                    annualChart = new ApexCharts(annualChartElement, annualOptions);
                    annualChart.render();
                }

                renderAnnualChart(availableYears[0]);

                yearSelect.addEventListener("change", function() {
                    var selectedYear = yearSelect.value;
                    renderAnnualChart(selectedYear);
                });
            } catch (e) {
                console.error("Error parsing annual incomes JSON:", e);
            }
        } else {
            console.error("Annual incomes JSON is undefined");
        }
    });
</script>


<script>
    function toggleMenu() {
        var sideMenu = document.querySelector('.side-menu');
        sideMenu.classList.toggle('open');
    }

    function redirectToLogin() {
        window.location.href = "/login";
    }

    function redirectToRegister() {
        window.location.href = "/register";
    }

    function logout() {
        // W tym miejscu możesz wykonać operacje związane z wylogowywaniem,
        // np. zakończenie sesji, usuwanie atrybutu 'loggedInUser' itp.

        // Następnie przekieruj użytkownika na stronę wylogowania
        window.location.href = "/logout";  // Zakładając, że masz endpoint '/logout' do obsługi wylogowywania
    }

</script>
</body>
</html>