<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rent&Gain Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/1571ce0189.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/taxes_page_style.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<header>
    <div class="top-bar">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-bars"></i> Menu
        </button>
        <h1>
            <span th:if="${loggedInUser}" th:text="${'Witaj, ' + loggedInUser.firstName + ' ' + loggedInUser.lastName + '!'}"></span>
        </h1>
        <div class="auth-buttons">
            <span th:if="${loggedInUser}">
                <button type="button" class="btn btn-secondary logout-button" onclick="logout()">Wyloguj się</button>
            </span>
            <span th:unless="${loggedInUser}">
                <button type="button" class="btn btn-secondary login-button" onclick="redirectToLogin()">Zaloguj</button>
                <span class="spacing"></span>
                <button type="button" class="btn btn-secondary register-button" onclick="redirectToRegister()">Rejestracja</button>
            </span>
        </div>
    </div>
</header>

<div class="toolbar-menu">
    <div class="toolbar">
        <div class="toolbar-top"></div>
    </div>

    <nav class="side-menu">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-times"></i> Zamknij
        </button>
        <a href="/main_page">Strona główna</a>
        <span th:if="${loggedInUser}">
            <a href="/user_panel">Panel użytkownika</a>
        </span>
        <span th:if="${role eq 'Wynajmujacy'}">
            <a href="/taxes_page">Podatki</a>
        </span>
        <span th:if="${role eq 'Wynajmujacy'}">
            <a href="/suggestions_and_analyses">Sugestie i analizy</a>
        </span>
        <a href="/contact_us">Kontakt</a>
        <span th:if="${role eq 'Administrator'}">
        <a href="/admin_panel">Panel administratora</a>
        </span>
    </nav>
</div>
<div class="container">
    <div class="landlord-container">
        <label class = "property-and-wallet-style" for="property"><b>Wybierz nieruchomość: </b></label>
        <select name="property" id="property" onchange="updatePaymentsList()">
            <option value="">Wybierz nieruchomość</option>
            <option th:each="property : ${properties}" th:value="${property.propertyId}" th:text="${property.address}"></option>
        </select>
    </div>
    <div class="property-and-wallet-style">
        <p><b>Portfel: </b><span th:text="${walletBalance}"></span> PLN</p>
    </div>
</div>
    <div class="container">
        <h1 class="hCenter">Płatności dla wybranej nieruchomości</h1>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID płatności</th>
                <th>Data wystawienia faktury</th>
                <th>Numer umowy</th>
                <th>Status płatności: Najemca uregulował fakturę</th>
                <th>Kwota płatności</th>
                <th>Kwota podatku VAT</th>
                <th>Czy podatek VAT odprowadzony</th>
                <th>Akcje</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rentPayment : ${rentPayments}">
                <td th:text="${rentPayment.paymentId}"></td>
                <td th:text="${rentPayment.issueDate}"></td>
                <td th:text="${rentPayment.rentalAgreementId}"></td>
                <td th:text="${rentPayment.status}"></td>
                <td th:text="${rentPayment.paymentAmount}"></td>
                <td id="vatAmount"></td>
                <td th:text="${rentPayment.vatPaid}"></td>
            </tr>
            </tbody>
        </table>
</div>

<div class="container">
    <h1 class="hCenter">Rozliczanie podatku dochodowego</h1>
    <br>
    <p style="text-align: center" class="quote-style"><b>Szanowny Właścicielu/Właścicielko lokalu!</b></p>
    <p class="quote-style">
        "W latach 2018-2024 r. stawka ryczałtowego podatku od przychodów z czynszu najmu wynosi 8,5%
        pod warunkiem, że jego wartość nie przekracza 100.000 zł. Po przekroczeniu tej kwoty, stawka rośnie do 12,5%.
        Wyjątkiem jest sytuacja obejmująca lata 2023 - 2024 dotycząca najmu małżonków,
        którzy złożyli wniosek o opodatkowanie całości przychodów z najmu u jednego z nich.
        Wówczas limit ten u tego małżonka wynosi 200.000 zł."
        <br>Źródło: <a href="https://www.e-pity.pl/pit-28/stawka-ryczalt-najem-2018-ponad-100-tysiecy/">https://www.e-pity.pl/pit-28/stawka-ryczalt-najem-2018-ponad-100-tysiecy/</a> [dostęp 25.04.2024]
    </p>
    <hr class="hr-1">
    <h3 class = "hCenter">Przychód za rok <span th:text="${#dates.year(#calendars.createNow().time)} - 1"></span></h3>
    <br>
    <p class = "quote-style">Poniżej znajduje się szczegółowe podsumowanie wszystkich przychodów z najmu za cały rok <span th:text="${#dates.year(#calendars.createNow().time)} - 1"></span>. Rozliczenie podatku dochodowego jest kompleksowe - roczne. </p>
    <br>
    <div th:each="entry : ${propertyIncomes}">
        <p>
            <span class="income-style">Przychód z nieruchomości <b><span th:text="${entry.key.address}"></span></b>: <span th:text="${entry.value}"></span> PLN</span>
        </p>
    </div>
    <br>
    <p id="totalRevenue"><span class="income-style"><b>Suma przychodów ze wszystkich nieruchomości:</b> <span th:text="${totalRevenue}"></span> PLN</span></p>
    <p id="percentageRate"><span class="income-style"><b>Stawka procentowa ryczałtu:</b> <span th:text="${percentageRate}"></span>%</span></p>
    <button type="submit" id="payIncomeTaxButton" onclick="handleIncomeTaxCalculation()">Rozlicz podatek</button>
</div>
<script>
    function formatDate(dateString) {
        const date = new Date(dateString);
        return date.toLocaleDateString();
    }

    function payVat(paymentId) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    alert("Podatek VAT został pomyślnie opłacony.");
                    updatePaymentsList();
                    window.location.reload();
                } else {
                    alert("Wystąpił błąd podczas opłacania podatku VAT. Spróbuj ponownie później.");
                    console.error("Błąd żądania AJAX:", xhr.status);
                }
            }
        };
        xhr.open("POST", "/payVat/" + paymentId);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify({ status: "paid" }));
    }

    function handleVatPayment() {
        document.getElementById("payVatButton").addEventListener("click", function(event) {
            event.preventDefault();

            var paymentIdString = document.getElementById("utilitiesId").textContent.trim();
            var paymentId = parseInt(paymentIdString.replace('ID płatności:', '').trim());

            if (paymentId !== '') {
                payVat(paymentId);
            } else {
                alert("Wybierz płatność przed opłaceniem podatku VAT.");
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function() {
        handleVatPayment();
        handleIncomeTaxCalculation();
    });

    function updatePaymentsList() {
        var propertyId = document.getElementById("property").value;

        fetch('/getRentPaymentsForPropertyId?propertyId=' + propertyId)
            .then(response => response.json())
            .then(data => {
                updateTable(data);
            });
    }

    function updateTable(rentPayments) {
        var tableBody = document.querySelector("tbody");
        tableBody.innerHTML = "";

        rentPayments.forEach(function(rentPayment) {
            var row = document.createElement("tr");

            var paymentIdCell = document.createElement("td");
            paymentIdCell.textContent = rentPayment.paymentId;
            row.appendChild(paymentIdCell);

            var paymentDateCell = document.createElement("td");
            paymentDateCell.textContent = formatDate(rentPayment.issueDate); // Użyj formatDate
            row.appendChild(paymentDateCell);

            var rentalAgreementIdCell = document.createElement("td");
            rentalAgreementIdCell.textContent = rentPayment.rentalAgreementId;
            row.appendChild(rentalAgreementIdCell);

            var statusCell = document.createElement("td");
            statusCell.textContent = rentPayment.status === 'unpaid' ? 'Nieopłacone' : 'Opłacone';
            row.appendChild(statusCell);

            var paymentAmountCell = document.createElement("td");
            paymentAmountCell.textContent = rentPayment.paymentAmount;
            row.appendChild(paymentAmountCell);

            var vatAmountCell = document.createElement("td");
            var vatAmount = (parseFloat(rentPayment.paymentAmount) * 0.23).toFixed(2);
            vatAmountCell.textContent = vatAmount;
            row.appendChild(vatAmountCell);

            var vatPaidCell = document.createElement("td");
            vatPaidCell.textContent = rentPayment.vatPaid ? 'Tak' : 'Nie';
            row.appendChild(vatPaidCell);

            var vatButtonCell = document.createElement("td");
            if (!rentPayment.vatPaid) {
                var vatButton = document.createElement("button");
                vatButton.textContent = "Odprowadź podatek VAT";
                vatButton.id = "payVatButton";
                vatButton.onclick = function() {
                    payVat(rentPayment.paymentId);
                };
                vatButtonCell.appendChild(vatButton);
            }
            row.appendChild(vatButtonCell);

            tableBody.appendChild(row);
        });
    }

    let taxCalculated = false; // Zmienna stanu

    function calculateIncomeTax(totalRevenue, percentageRate) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === XMLHttpRequest.DONE) {
                if (xhr.status === 200) {
                    alert("Podatek dochodowy został odprowadzony pomyślnie.");
                    window.location.reload();
                } else {
                    alert("Wystąpił błąd podczas obliczania podatku dochodowego. Spróbuj ponownie później.");
                    console.error("Błąd żądania AJAX:", xhr.status);
                }
            }
        };
        xhr.open("POST", "/calculateIncomeTax?totalRevenue=" + totalRevenue + "&percentageRate=" + percentageRate);
        xhr.send();
    }

    function handleIncomeTaxCalculation() {
        document.getElementById("payIncomeTaxButton").addEventListener("click", function(event) {
            event.preventDefault();

            var totalRevenueText = document.getElementById("totalRevenue").textContent.trim();
            var percentageRateText = document.getElementById("percentageRate").textContent.trim();

            var totalRevenue = parseFloat(totalRevenueText.split(':')[1].trim().replace('PLN', '').trim());
            var percentageRate = parseFloat(percentageRateText.split(':')[1].trim().replace('%', '').trim());

            console.log("totalRevenue: " + totalRevenue);
            console.log("percentageRate: " + percentageRate);

            if (!isNaN(totalRevenue) && !isNaN(percentageRate)) {
                document.getElementById("payIncomeTaxButton").disabled = true; // Zablokuj przycisk natychmiast
                calculateIncomeTax(totalRevenue, percentageRate);
            } else {
                alert("Wypełnij wszystkie wymagane pola przed obliczeniem podatku dochodowego.");
            }
        });
    }
</script>
<script>
    function toggleMenu() {
        var sideMenu = document.querySelector('.side-menu');
        sideMenu.classList.toggle('open');
    }

    function redirectToLogin() {
        window.location.href = "/login";
    }

    function redirectToRegister() {
        window.location.href = "/register";
    }

    function logout() {
        window.location.href = "/logout";
    }
</script>
</body>
</html>