<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rental Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/1571ce0189.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/user_panel_page_style.css}">
</head>

<body>
<header>
    <div class="top-bar">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-bars"></i> Menu
        </button>
        <h1>
            <span th:if="${loggedInUser}" th:text="${'Witaj, ' + loggedInUser.firstName + ' ' + loggedInUser.lastName + '!'}"></span>
        </h1>
        <div class="auth-buttons">
            <span th:if="${loggedInUser}">
                <button type="button" class="btn btn-secondary logout-button" onclick="logout()">Wyloguj się</button>
            </span>
            <span th:unless="${loggedInUser}">
                <button type="button" class="btn btn-secondary login-button" onclick="redirectToLogin()">Zaloguj</button>
                <span class="spacing"></span>
                <button type="button" class="btn btn-secondary register-button" onclick="redirectToRegister()">Rejestracja</button>
            </span>
        </div>
    </div>
</header>

<div class="toolbar-menu">
    <div class="toolbar">
        <div class="toolbar-top"></div>
    </div>

    <nav class="side-menu">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-times"></i> Zamknij
        </button>
        <a href="/main_page">Strona główna</a>
        <span th:if="${loggedInUser}">
            <a href="/user_panel">Panel użytkownika</a>
        </span>
        <a href="/contact_us">Kontakt</a>
        <span th:if="${role eq 'Administrator'}">
        <a href="/admin_panel">Panel administratora</a>
        </span>
    </nav>
</div>

<span th:if="${role eq 'Najemca'}">
<div class="container">
    <h1 class="hCenter">Twoje umowy najmu</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Numer umowy (ID)</th>
            <th>Data rozpoczęcia</th>
            <th>Data zakończenia</th>
            <th>Kwota najmu (zł)</th>
            <th>Nieruchomość (adres)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rentalAgreement : ${rentalAgreements}">
            <td th:text="${rentalAgreement.agreementId}"></td>
            <td th:text="${rentalAgreement.startDate}"></td>
            <td th:text="${rentalAgreement.endDate}"></td>
            <td th:text="${rentalAgreement.rentAmount}"></td>
            <td th:text="${rentalAgreement.property.address}"></td>
        </tr>
        </tbody>
    </table>
</div>
</span>

<span th:if="${role eq 'Wynajmujacy'}">
    <div class="container">
        <div class="landlord-container-1">
            <h2 class="hCenter">Twoje nieruchomości</h2>
            <ul>
                <li th:each="property : ${properties}"><i class="fa fa-building" aria-hidden="true"></i>
                    <span th:text="${property.address}"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="landlord-container">
            <h2 class="hCenter">Zarządzanie czynszem i opłatami za media</h2>
            <form action="/manage_rent_and_utilities" method="post">
                <label for="property">Wybierz nieruchomość:</label>
                <select name="property" id="property">
                    <option value="">Wybierz nieruchomość</option>
                    <option th:each="property : ${properties}" th:value="${property.propertyId}" th:text="${property.address}"></option>
                </select>
                <p id="utilitiesStatus">Status opłat za media: </p>
                <label for="month">Miesiąc:</label>
                <input type="month" name="month" id="month" required>
                <label for="utilitiesAmount">Kwota za media:</label>
                <input type="number" name="utilitiesAmount" id="utilitiesAmount" required>
                <button type="submit">Zapisz</button>
            </form>

            <div class="wallet-info">
                    Portfel: <span th:text="${walletBalance}"></span> PLN
            </div>
        </div>
    </div>
</span>
<script>
    function toggleMenu() {
        var sideMenu = document.querySelector('.side-menu');
        sideMenu.classList.toggle('open');
    }

    function redirectToLogin() {
        window.location.href = "/login";
    }

    function redirectToRegister() {
        window.location.href = "/register";
    }

    function logout() {
        // W tym miejscu możesz wykonać operacje związane z wylogowywaniem,
        // np. zakończenie sesji, usuwanie atrybutu 'loggedInUser' itp.

        // Następnie przekieruj użytkownika na stronę wylogowania
        window.location.href = "/logout";  // Zakładając, że masz endpoint '/logout' do obsługi wylogowywania
    }



</script>
</body>
</html>