<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rental Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/1571ce0189.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/user_panel_page_style.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<header>
    <div class="top-bar">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-bars"></i> Menu
        </button>
        <h1>
            <span th:if="${loggedInUser}" th:text="${'Witaj, ' + loggedInUser.firstName + ' ' + loggedInUser.lastName + '!'}"></span>
        </h1>
        <div class="auth-buttons">
            <span th:if="${loggedInUser}">
                <button type="button" class="btn btn-secondary logout-button" onclick="logout()">Wyloguj się</button>
            </span>
            <span th:unless="${loggedInUser}">
                <button type="button" class="btn btn-secondary login-button" onclick="redirectToLogin()">Zaloguj</button>
                <span class="spacing"></span>
                <button type="button" class="btn btn-secondary register-button" onclick="redirectToRegister()">Rejestracja</button>
            </span>
        </div>
    </div>
</header>

<div class="toolbar-menu">
    <div class="toolbar">
        <div class="toolbar-top"></div>
    </div>

    <nav class="side-menu">
        <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
            <i class="fas fa-times"></i> Zamknij
        </button>
        <a href="/main_page">Strona główna</a>
        <span th:if="${loggedInUser}">
            <a href="/user_panel">Panel użytkownika</a>
        </span>
        <span th:if="${role eq 'Wynajmujacy'}">
            <a href="/taxes_page">Podatki</a>
        </span>
        <span th:if="${role eq 'Wynajmujacy'}">
            <a href="/suggestions_and_analyses">Sugestie i analizy</a>
        </span>
        <a href="/contact_us">Kontakt</a>
        <span th:if="${role eq 'Administrator'}">
        <a href="/admin_panel">Panel administratora</a>
        </span>
    </nav>
</div>

<span th:if="${role eq 'Najemca'}">
<div class="container">
    <h1 class="hCenter">Twoje umowy najmu</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Numer umowy (ID)</th>
            <th>Data rozpoczęcia</th>
            <th>Data zakończenia</th>
            <th>Kwota najmu (zł)</th>
            <th>Nieruchomość (adres)</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rentalAgreement : ${rentalAgreements}">
            <td th:text="${rentalAgreement.agreementId}"></td>
            <td th:text="${rentalAgreement.startDate}"></td>
            <td th:text="${rentalAgreement.endDate}"></td>
            <td th:text="${rentalAgreement.rentAmount}"></td>
            <td th:text="${rentalAgreement.property.address}"></td>
        </tr>
        </tbody>
    </table>
</div>
</span>

<span th:if="${role eq 'Wynajmujacy'}">
    <div class="container">
        <div class="landlord-container-1">
            <h2 class="hCenter">Twoje nieruchomości</h2>
            <ul>
                <li th:each="property : ${properties}"><i class="fa fa-building" aria-hidden="true"></i>
                    <span th:text="${property.address}"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="landlord-container">
            <label for="property" class="label-style"><b>Wybierz nieruchomość: </b></label>
                <select name="property" id="property" onchange="updateUtilitiesStatus()">
                    <option value="">Wybierz nieruchomość</option>
                    <option th:each="property : ${properties}" th:value="${property.propertyId}" th:text="${property.address}"></option>
                </select>
            <div class="wallet-info">
                    <b>Portfel: </b><span th:text="${walletBalance}"></span> PLN
            </div>
        </div>
    </div>
        <div class="container">
            <div class="utilities-style">
                <h2 class="hCenter">Zarządzanie opłatami za media</h2>
                <br>
                <form method="post" id="rentAndUtilitiesForm" action="/payUtilities/">
                    <p id="utilitiesStatus"><b>Status opłat za media: </b></p>
                    <p id="utilitiesMonth"><b>Opłata za miesiąc: </b></p>
                    <p id="utilitiesId"><b>ID płatności: </b></p>
                    <p id="utilitiesAmount"><b>Kwota za media: </b></p>
                    <button type="submit" id="payUtilitiesButton">Opłać</button>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="invoice-style">
                <h2 class="hCenter">Wystawianie faktur</h2>
                <br>
                <form method="post" id ="rentAndInvoiceForm" action="/createInvoice">
<!--                <p id="rentStatus">Status opłaty czynszu przez najemcę: </p>-->
                    <p id="selectedPropertyAddress"><b>Dotyczy nieruchomości: </b></p>
                    <div id="sellerInfoContainer">
                        <p><b><i>Dane sprzedawcy (wynajmującego)</i></b></p>
                        <p id="invoiceFirstLastNameLandlord"><b>Imię i nazwisko: </b></p>
                        <p id="invoiceAddressLandlord"><b>Adres: </b></p>
                    </div>
                    <div id="buyerInfoContainer">
                        <p><b><i>Dane nabywcy (najemcy)</i></b></p>
                        <p id="invoiceFirstLastNameTenant"><b>Imię i nazwisko: </b></p>
                        <p id="invoiceAddressTenant"><b>Adres: </b></p>
                    </div>
                    <label for="invoiceNumber" class="label-style"><b>Numer faktury: </b></label>
                    <input type="text" id="invoiceNumber" name="invoiceNumber" required>
                    <p><b>Data sprzedaży:</b> <span id="saleDate"></span></p>
                    <p><b>Nazwa usługi: </b><span id="nameOfService"></span></p>
                    <p id="invoiceRentAmount"><b>Cena usługi: </b></p>
                    <p id="invoicePaymentMethod"><b>Forma płatności: </b></p>
                    <p><b>Termin zapłaty: </b><span id="paymentDeadline"></span></p>
<!--                    <p id="rentPaymentDate">Data opłacenia faktury przez najemcę: </p>-->
                    <p id="rentNextInvoiceIssueDate"><b>Kolejną fakturę dla najemcy wystaw: </b></p>
                    <button type="submit" id="createInvoiceButton">Wystaw fakturę</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="hCenter">Rozliczenia opłat za media w poszczególnych miesiącach</h2>
        <canvas id="utilitiesChart" width="800" height="400"></canvas>
    </div>
</span>
<script>
    function calculateNextInvoiceDate() {
        var currentDate = new Date();
        var nextMonth = currentDate.getMonth() + 1;
        var nextYear = currentDate.getFullYear();
        if (nextMonth === 12) {
            nextMonth = 0;
            nextYear++;
        }
        var firstDayNextMonth = new Date(nextYear, nextMonth, 1);
        var fifthDayNextMonth = new Date(firstDayNextMonth.setDate(firstDayNextMonth.getDate() + 4));
        return fifthDayNextMonth.toLocaleDateString('pl-PL', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' });
    }


    function getLastDayOfMonth() {
        var today = new Date();
        var lastDayOfMonth = new Date(today.getFullYear(), today.getMonth() + 1, 0);

        // Formatuj datę na "DD.MM.RRRR"
        var formattedDay = String(lastDayOfMonth.getDate()).padStart(2, '0'); // Dodaj zero z przodu, jeśli potrzeba
        var formattedMonth = String(lastDayOfMonth.getMonth() + 1).padStart(2, '0'); // Dodaj zero z przodu, jeśli potrzeba
        var formattedYear = lastDayOfMonth.getFullYear();

        return formattedDay + '.' + formattedMonth + '.' + formattedYear;
    }



    function getCurrentMonthAndYear() {
        var months = [
            'styczeń', 'luty', 'marzec', 'kwiecień', 'maj', 'czerwiec',
            'lipiec', 'sierpień', 'wrzesień', 'październik', 'listopad', 'grudzień'
        ];
        var today = new Date();
        var currentMonth = months[today.getMonth()];
        var currentYear = today.getFullYear();
        return "Czynsz najmu za " + currentMonth + ' ' + currentYear;
    }



    function getPaymentDeadline() {
        var today = new Date();
        var currentMonth = today.getMonth();
        var currentYear = today.getFullYear();

        // Dodaj jeden miesiąc do aktualnego miesiąca
        var nextMonth = (currentMonth + 1) % 12;

        // Jeśli dodanie miesiąca przekroczyło grudzień, zaktualizuj rok
        var nextYear = currentYear + Math.floor((currentMonth + 1) / 12);

        // Utwórz obiekt daty dla terminu zapłaty
        var paymentDate = new Date(nextYear, nextMonth, 10); // Ustaw na 10. dzień następnego miesiąca

        // Formatuj datę na "DD.MM.RRRR"
        var formattedDay = String(paymentDate.getDate()).padStart(2, '0'); // Dodaj zero z przodu, jeśli potrzeba
        var formattedMonth = String(paymentDate.getMonth() + 1).padStart(2, '0'); // Dodaj zero z przodu, jeśli potrzeba
        var formattedYear = paymentDate.getFullYear();

        return formattedDay + '.' + formattedMonth + '.' + formattedYear;
    }


</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Funkcja obsługująca opłacanie płatności za media
        function createInvoice(propertyId) {
            var xhr = new XMLHttpRequest();

            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        // Pomyślnie
                        alert("Faktura została wystawiona.");
                        // Możesz też wykonać dodatkowe operacje, np. przeładować stronę
                        window.location.reload();
                    } else {
                        // Wystąpił błąd podczas wystawiania faktury
                        alert("Wystąpił błąd podczas wystawiania faktury. Spróbuj ponownie później.");
                        console.error("Błąd żądania AJAX:", xhr.status);
                    }
                }
            };

            xhr.open("POST", "/createInvoice");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send("propertyId=" + propertyId);
        }

        // Funkcja obsługująca kliknięcie przycisku "Wystaw fakturę" w formularzu
        function handleInvoice() {
            document.getElementById("rentAndInvoiceForm").addEventListener("submit", function(event) {
                event.preventDefault(); // Zapobiegamy domyślnej akcji formularza (czyli wysłaniu żądania POST)

                var propertyId = document.getElementById("property").value;


                createInvoice(propertyId);

            });
        }

        // Wywołaj funkcję obsługującą płatność po załadowaniu strony
        handleInvoice();
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Funkcja obsługująca opłacanie płatności za media
        function payUtilities(paymentId) {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        // Pomyślnie opłacono płatność, możesz wykonać odpowiednie działania
                        alert("Płatność za media została pomyślnie opłacona.");
                        // Możesz też wykonać dodatkowe operacje, np. przeładować stronę
                        window.location.reload();
                    } else {
                        // Wystąpił błąd podczas opłacania płatności
                        alert("Wystąpił błąd podczas opłacania płatności. Spróbuj ponownie później.");
                        console.error("Błąd żądania AJAX:", xhr.status);
                    }
                }
            };
            xhr.open("POST", "/payUtilities/" + paymentId);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.send(JSON.stringify({ status: "paid" }));
        }

        // Funkcja obsługująca kliknięcie przycisku "Opłać" w formularzu
        function handlePayment() {
            document.getElementById("rentAndUtilitiesForm").addEventListener("submit", function(event) {
                event.preventDefault(); // Zapobiegamy domyślnej akcji formularza (czyli wysłaniu żądania POST)

                // var propertyId = document.getElementById("property").value;
                var paymentIdString = document.getElementById("utilitiesId").textContent.trim(); // Pobieramy ID płatności jako tekst
                var paymentId = parseInt(paymentIdString.replace('ID płatności:', '').trim()); // Konwertujemy tekst na liczbę całkowitą
                if (paymentId  !== '') {
                    // Jeśli wybrano nieruchomość, wykonaj płatność
                    payUtilities(paymentId );
                } else {
                    // Jeśli nie wybrano nieruchomości, wyświetl komunikat
                    alert("Wybierz nieruchomość przed opłaceniem płatności za media.");
                }
            });
        }

        // Wywołaj funkcję obsługującą płatność po załadowaniu strony
        handlePayment();
    });
</script>
<script>
    // Dane do wykresu - pobierz z modelu Thymeleaf
    var utilitiesData = [];

    function generateChart() {
        var months = utilitiesData.map(entry => entry.month);
        var amounts = utilitiesData.map(entry => entry.amount);

        console.log('Months:', months);
        console.log('Amounts:', amounts);

        // Znajdź istniejący wykres
        var existingChart = Chart.getChart("utilitiesChart");
        // Jeśli istnieje, zniszcz go
        if (existingChart) {
            existingChart.destroy();
        }

        var ctx = document.getElementById('utilitiesChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: months,
                datasets: [{
                    label: 'Kwota za media (PLN)',
                    data: amounts,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    }

    function updateUtilitiesStatus() {
        // Znajdź istniejący wykres
        var existingChart = Chart.getChart("utilitiesChart");
        // Jeśli istnieje, zniszcz go
        if (existingChart) {
            existingChart.destroy();
        }
        var propertyId = document.getElementById('property').value;
        console.log('Wybrano nieruchomość o ID:', propertyId);
        if (propertyId !== '') {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        var utilitiesStatus = response.status;
                        var utilitiesAmount = response.amounts;
                        var latestAmount = response.latestAmount;
                        var paymentIdForProperty = response.paymentIdForProperty;
                        // Mapowanie miesięcy na polskie nazwy
                        const mapMonth = month => {
                            switch (month) {
                                case 'January': return 'Styczeń';
                                case 'February': return 'Luty';
                                case 'March': return 'Marzec';
                                case 'April': return 'Kwiecień';
                                case 'May': return 'Maj';
                                case 'June': return 'Czerwiec';
                                case 'July': return 'Lipiec';
                                case 'August': return 'Sierpień';
                                case 'September': return 'Wrzesień';
                                case 'October': return 'Październik';
                                case 'November': return 'Listopad';
                                case 'December': return 'Grudzień';
                                default: return month;
                            }
                        };
                        const utilitiesMonths = response.months.map(mapMonth);
                        const paymentMonth = mapMonth(response.paymentMonth);

                        // var rentStatus = response.rentStatus;
                        var selectedProperty = document.getElementById("property");
                        var selectedPropertyAddress = document.getElementById("selectedPropertyAddress");
                        selectedPropertyAddress.innerHTML = "<b>Dotyczy nieruchomości: </b>" + selectedProperty.options[selectedProperty.selectedIndex].text;
                        var invoiceFirstLastNameLandlord = response.invoiceFirstLastNameLandlord;
                        var invoiceAddressLandlord = response.invoiceAddressLandlord;
                        var invoiceFirstLastNameTenant = response.invoiceFirstLastNameTenant;
                        var invoiceAddressTenant = response.invoiceAddressTenant;
                        var invoiceRentAmount = response.invoiceRentAmount;
                        // Ustaw ostatni dzień miesiąca + rok w elemencie o id "saleDate"
                        document.getElementById("saleDate").textContent = getLastDayOfMonth();
                        // Ustaw nazwę aktualnego miesiąca i roku w elemencie o id "nameOfService"
                        document.getElementById("nameOfService").textContent = getCurrentMonthAndYear();
                        // Ustaw termin zapłaty w elemencie o id "paymentDeadline"
                        document.getElementById("paymentDeadline").textContent = getPaymentDeadline();
                        document.getElementById("invoicePaymentMethod").innerHTML = "<b>Forma płatności: </b>Zasilenie portfela wynajmującego w aplikacji RentManager";
                        document.getElementById("rentNextInvoiceIssueDate").innerHTML = "<b>Kolejną fakturę dla najemcy wystaw: </b>" + calculateNextInvoiceDate();

                        // var rentPaymentDate = response.rentPaymentDate;
                        // var rentNextInvoiceIssueDate = response.rentNextInvoiceIssueDate;

                        console.log('Status opłat za media:', utilitiesStatus);
                        console.log('Kwota za media:', utilitiesAmount);
                        console.log('Miesiące:', utilitiesMonths.join(', '));
                        console.log("Najnowsza kwota w tabeli: ", latestAmount);
                        console.log("Opłata za miesiąc: ", paymentMonth);
                        console.log("ID płatności: ", paymentIdForProperty);

                        // console.log("Status opłaty za czynsz: ", rentStatus);
                        console.log("Imię i nazwisko sprzedawcy: ", invoiceFirstLastNameLandlord);
                        console.log("Adres sprzedawcy: ", invoiceAddressLandlord)
                        console.log("Imię i nazwisko nabywcy: ", invoiceFirstLastNameTenant);
                        console.log("Adres nabywcy: ", invoiceAddressTenant);

                        // console.log("Data opłacenia faktury: ", rentPaymentDate);
                        console.log("Wystawienie kolejne faktury: ", rentNextInvoiceIssueDate);

                        document.getElementById('utilitiesStatus').innerHTML = "<b>Status opłat za media: </b>" + utilitiesStatus;
                        document.getElementById('utilitiesAmount').innerHTML = "<b>Kwota za media: </b>" + latestAmount;
                        document.getElementById('utilitiesId').innerHTML = "<b>ID płatności: </b>" + paymentIdForProperty;

                        // document.getElementById("rentStatus").textContent = "Status opłaty czynszu przez najemcę: " + rentStatus;
                        document.getElementById("invoiceFirstLastNameLandlord").innerHTML = "<b>Imię i nazwisko: </b>" + invoiceFirstLastNameLandlord;
                        document.getElementById("invoiceAddressLandlord").innerHTML = "<b>Adres: </b>" + invoiceAddressLandlord;
                        document.getElementById("invoiceFirstLastNameTenant").innerHTML = "<b>Imię i nazwisko: </b>" + invoiceFirstLastNameTenant;
                        document.getElementById("invoiceAddressTenant").innerHTML = "<b>Adres: </b>" + invoiceAddressTenant;
                        document.getElementById("invoiceRentAmount").innerHTML = "<b>Cena usługi: </b>" + invoiceRentAmount;


                        // document.getElementById("rentPaymentDate").textContent = "Data opłacenia faktury przez najemcę: " + rentPaymentDate;
                        // document.getElementById("rentNextInvoiceIssueDate").textContent = "Kolejną faktrurę dla najemcy wystaw: " + rentNextInvoiceIssueDate;

                        if (utilitiesStatus === 'Opłata za media nie została jeszcze dokonana.') {
                            document.getElementById('utilitiesMonth').innerHTML = "<b>Opłata za miesiąc: </b>" + paymentMonth;
                        } else {
                            document.getElementById('utilitiesMonth').innerHTML = "<b>Opłata za miesiąc: </b>brak zaległych opłat";
                        }

                        if (utilitiesStatus === 'Opłacone') {
                            utilitiesData = [];
                            for (var i = 0; i < utilitiesMonths.length; i++) {
                                utilitiesData.push({ month: utilitiesMonths[i], amount: utilitiesAmount[i] });
                            }
                            generateChart();
                        }
                    } else {
                        console.error('Błąd żądania AJAX:', xhr.status);
                    }
                }
            };
            xhr.open('GET', '/getUtilitiesStatus/' + propertyId);
            xhr.send();
        } else {
            document.getElementById('utilitiesStatus').innerHTML = "<b>Status opłat za media: </b>";
            document.getElementById('utilitiesAmount').innerHTML = "<b>Kwota za media: </b>";
            document.getElementById('utilitiesMonth').innerHTML = "<b>Opłata za miesiąc: </b>";
        }
    }
</script>
<script>
    function toggleMenu() {
        var sideMenu = document.querySelector('.side-menu');
        sideMenu.classList.toggle('open');
    }

    function redirectToLogin() {
        window.location.href = "/login";
    }

    function redirectToRegister() {
        window.location.href = "/register";
    }

    function logout() {
        window.location.href = "/logout";
    }
</script>
</body>
</html>